---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/Nav.astro";
import BuiltBy from "../../components/BuiltBy.astro";
import OpenTypePairs from "../../components/tools/opentype/OpenTypePairs.tsx";
import OpenTypeScale from "../../components/tools/opentype/OpenTypeScale.tsx";
import OpenTypePreview from "../../components/tools/opentype/OpenTypePreview.tsx";
import OpenTypeWeights from "../../components/tools/opentype/OpenTypeWeight.tsx";
import OpenTypeCSS from "../../components/tools/opentype/OpenTypeCSS.tsx";
---

<Layout
  title="OpenSource type system | Maxim McNair"
  desc="Build a type system with opensource typefaces"
>
  <main>
    <section>
      <h1 class="opentype-title">OS Type System</h1>
      <h3 class="opentype-subtitle">
        Build a Typographic System with Open Source Typefaces
      </h3>
    </section>

    <section>
      <p class="p-intro">
        We're going to build a typographic system from open source (OS)
        typefaces that won't have any legal issues when used in an OS project or
        a public repo online. These will be self-hostable, so you won't need to
        use an embed js script from a third party which might have additional
        tracking built in.
      </p>

      <p>
        We're going to keep it simple by sticking to two typefaces, a title and
        a body, and use a modular scale to define our type hierarchy.
      </p>

      <p>
        The output is modern CSS that has no dependencies and that should work
        with any tech stack. If you have any comments or suggestions you can
        either tweet me at
        <a href="https://twitter.com/maximmcnair" target="_blank"
          >@maximmcnair</a
        > or create an <a href="https://github.com/maximmcnair/maximmcnair.com/issues" target="_blank">issue on Github.</a>
      </p>
    </section>

    <section>
      <h3>Our Typefaces Options</h3>
      <p>
        It's a great time for open source typefaces, with many big players such
        as Adobe, IBM and Github creating and open sourcing their own typefaces.
      </p>
      <p>
        As promised we'll stick with a subset of the typefaces available, too
        much choice can lead to indecision here.
      </p>
      <p>
        Each typeface has a number of weights. These are different thicknesses
        that are used for emphasis. Click on the weights below to build up a
        feel for them.
      </p>
      <div class="typeface-options">
        <OpenTypeWeights client:load />
      </div>
    </section>

    <section>
      <h3>Type Combinations</h3>
      <p>
        We combine different typefaces to create contrast which we can use to
        guide our user's attention. Below are a number of preset type pairs,
        click on one to select it then scroll down to the next section.
      </p>
      <OpenTypePairs client:load />
    </section>

    <section>
      <h3>Modular scale</h3>
      <p>
        There are a number of commonly recognised ratios used in geometry, music
        and nature that can be expressed as a modular scale.
      </p>
      <p>
        A well known example of a modular scale is the golden ratio, said to be
        used in the design of The Parthenon in Greece and can be found
        throughout nature.
      </p>
      <p>
        While we could, if we have some design intuition, set these values
        ourselves. Using modular scales allows us to jumpstart our type
        hierarchy from a trusted source.
      </p>
      <p>
        To keep to the standards set out in HTML, we'll use 6 headings (h1 to
        h6) in our system.
      </p>
      <OpenTypeScale client:load />
    </section>

    <section>
      <h3>Preview</h3>
      <OpenTypePreview client:load />
    </section>

    <section>
      <h3>Going forward</h3>
      <p>
        Before you download your CSS it's important to recognise that some
        values might need to be adapted to your project. Your layout or
        interface structure may call for different proportions then the previews
        here.
      </p>

      <section>
        <OpenTypeCSS client:load />
      </section>
    </section>

    <BuiltBy />
  </main>

  <style>
    main {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      /* justify-content: center; */
      min-height: 100vh;
      padding-bottom: 100px;
    }

    main section {
      max-width: 800px;
      width: 100%;
      padding: 0px 10px;
      margin-top: 50px;
    }

    main section p {
      color: var(--color-grey-lighter);
    }

    .opentype-title {
      text-align: center;
      margin: 0px;
    }
    .opentype-subtitle {
      text-align: center;
      font-family: var(--type-body);
      font-size: var(--typesize-body);
      line-height: var(--type-lineheight-body);
      margin: 0px;
    }

    .typeface-options {
      margin-top: 60px;
      display: grid;
    }

    @media (min-width: 700px) {
      .typeface-options {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  </style>

  <style is:global>
    /* typefaces */
    .typeface-inter {
      font-family: "Inter";
    }
    .typeface-hack {
      font-family: "Hack";
    }
    .typeface-leaguemono {
      font-family: "League Mono";
    }
    .typeface-leaguegothic {
      font-family: "League Gothic";
    }
    .typeface-plexmono {
      font-family: "Plex Mono";
    }
    .typeface-plexsans {
      font-family: "Plex Sans";
    }
    .typeface-plexserif {
      font-family: "Plex Serif";
    }
    .typeface-sourcecodepro {
      font-family: "Source Code Pro";
    }
    .typeface-sourcesans {
      font-family: "Source Sans";
    }
    .typeface-sourceserif {
      font-family: "Source Serif";
    }
    .typeface-spacemono {
      font-family: "Space Mono";
    }
    .typeface-hubotsans {
      font-family: "Hubot Sans";
    }
    .typeface-monasans {
      font-family: "Mona Sans";
    }
    /* Inter */
    @font-face {
      font-family: "Inter";
      font-style: normal;
      font-weight: 100;
      font-display: swap;
      src: url("/fonts/Inter Web/Inter-Thin.woff2?v=3.19") format("woff2"),
        url("/fonts/Inter Web/Inter-Thin.woff?v=3.19") format("woff");
    }
    @font-face {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("/fonts/Inter Web/Inter-Regular.woff2?v=3.19") format("woff2"),
        url("/fonts/Inter Web/Inter-Regular.woff?v=3.19") format("woff");
    }
    @font-face {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url("/fonts/Inter Web/Inter-Bold.woff2?v=3.19") format("woff2"),
        url("/fonts/Inter Web/Inter-Bold.woff?v=3.19") format("woff");
    }
    /* Plex Sans */
    @font-face {
      font-family: "Plex Sans";
      font-style: normal;
      font-weight: 100;
      font-display: swap;
      src: url("/fonts/Plex Sans/IBMPlexSans-Thin.woff2") format("woff2"),
        url("/fonts/Plex Sans/IBMPlexSans-Thin.woff?") format("woff");
    }
    @font-face {
      font-family: "Plex Sans";
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("/fonts/Plex Sans/IBMPlexSans-Medium.woff2") format("woff2"),
        url("/fonts/Plex Sans/IBMPlexSans-Medium.woff?") format("woff");
    }
    @font-face {
      font-family: "Plex Sans";
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url("/fonts/Plex Sans/IBMPlexSans-Bold.woff2") format("woff2"),
        url("/fonts/Plex Sans/IBMPlexSans-Bold.woff?") format("woff");
    }
    /* Plex Serif */
    @font-face {
      font-family: "Plex Serif";
      font-style: normal;
      font-weight: 100;
      font-display: swap;
      src: url("/fonts/Plex Serif/IBMPlexSerif-Thin.woff2") format("woff2"),
        url("/fonts/Plex Serif/IBMPlexSerif-Thin.woff?") format("woff");
    }
    @font-face {
      font-family: "Plex Serif";
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("/fonts/Plex Serif/IBMPlexSerif-Medium.woff2") format("woff2"),
        url("/fonts/Plex Serif/IBMPlexSerif-Medium.woff?") format("woff");
    }
    @font-face {
      font-family: "Plex Serif";
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url("/fonts/Plex Serif/IBMPlexSerif-Bold.woff2") format("woff2"),
        url("/fonts/Plex Serif/IBMPlexSerif-Bold.woff?") format("woff");
    }
    /* Source Sans */
    @font-face {
      font-family: "Source Sans";
      font-style: normal;
      font-weight: 100;
      font-display: swap;
      src: url("/fonts/Source Sans/SourceSans3-Light.woff2") format("woff2"),
        url("/fonts/Source Sans/SourceSans3-Light.woff") format("woff");
    }
    @font-face {
      font-family: "Source Sans";
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("/fonts/Source Sans/SourceSans3-Regular.woff2") format("woff2"),
        url("/fonts/Source Sans/SourceSans3-Regular.woff") format("woff");
    }
    @font-face {
      font-family: "Source Sans";
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url("/fonts/Source Sans/SourceSans3-Bold.woff2") format("woff2"),
        url("/fonts/Source Sans/SourceSans3-Bold.woff") format("woff");
    }
    /* Source Serif */
    @font-face {
      font-family: "Source Serif";
      font-style: normal;
      font-weight: 100;
      font-display: swap;
      src: url("/fonts/Source Serif/SourceSerif4-Light.woff2") format("woff2"),
        url("/fonts/Source Serif/SourceSerif4-Light.woff") format("woff");
    }
    @font-face {
      font-family: "Source Serif";
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("/fonts/Source Serif/SourceSerif4-Regular.woff2") format("woff2"),
        url("/fonts/Source Serif/SourceSerif4-Regular.woff") format("woff");
    }
    @font-face {
      font-family: "Source Serif";
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url("/fonts/Source Serif/SourceSerif4-Bold.woff2") format("woff2"),
        url("/fonts/Source Serif/SourceSerif4-Bold.woff") format("woff");
    }
    /* Space Mono */
    @font-face {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("/fonts/Space Mono/SpaceMono-Regular.woff2") format("woff2"),
        url("/fonts/Space Mono/SpaceMono-Regular.woff") format("woff");
    }
    @font-face {
      font-family: "Space Mono";
      font-style: normal;
      font-weight: 600;
      font-display: swap;
      src: url("/fonts/Space Mono/SpaceMono-Bold.woff2") format("woff2"),
        url("/fonts/Space Mono/SpaceMono-Bold.woff") format("woff");
    }
    /* Mona Sans */
    @font-face {
      font-family: "Mona Sans";
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url("/fonts/Mona Sans/Mona-Sans.woff2") format("woff2"),
        url("/fonts/Mona Sans/Mona-Sans.woff") format("woff");
    }

    :root {
      --typeface-title: var(--typeface-spacemono);
    }

    /* Pairs */
    .typeface-pairs {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }

    @media (min-width: 700px) {
      .typeface-pairs {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .typeface-pair {
      border: 2px solid var(--color-grey-darker);
      background-color: var(--color-grey-darker);
      padding: 16px;
      border-radius: 3px;
      cursor: pointer;
      transition: all 0.3s;
    }
    .typeface-pair[data-active="true"] {
      border-color: var(--color-white);
    }
    .typeface-pair-name {
      display: block;
      line-height: var(--typesize-body);
      color: var(--color-grey-light);
      margin-top: 5px;
      margin-bottom: 16px;
    }
    .typeface-preview-title {
      display: block;
      font-size: var(--typesize-h3);
      margin-bottom: 10px;
    }
    .typeface-preview-body {
      display: block;
      font-size: var(--typesize-body);
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      /* height: 100px; */
    }

    /* v2 */
    .typeface-pair-options-wrapper {
      overflow: hidden;
    }

    .typeface-pair-options {
      display: flex;
      flex-direction: row;
      gap: 10px;
      overflow-x: scroll;
    }

    .typeface-pair-option {
      font-size: 20px;
      max-width: 200px;
      /* height: 80px; */
      border: 2px solid var(--color-grey-dark);
      padding: 3px 5px;
      border-radius: 3px;
      cursor: pointer;
      transition: all 0.3s;
      text-wrap: no-wrap;
      display: flex;
      align-items: center;
      /* ellipsis */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    /* scale */
    .scale-picker {
      position: relative;
      z-index: 2;
    }
    .scale-preview {
      margin-top: 25px;
    }
    .scale-preview-type {
      display: block;
    }
    .scale-preview-type small {
      color: var(--color-grey-light);
    }

    /* Options & Weights */
    .typeface-option {
      margin-bottom: 40px;
    }
    .typeface-option-title {
      display: block;
      font-size: 40px;
      margin-bottom: 5px;
    }
    .typeface-option-title[data-weight="thin"] {
      font-weight: 100;
    }
    .typeface-option-title[data-weight="medium"] {
      font-weight: 400;
    }
    .typeface-option-title[data-weight="bold"] {
      font-weight: 600;
    }
    .typeface-option-source {
      display: none;
    }
    .typeface-option-foundery {
      display: block;
      color: var(--color-grey-light);
    }
    .typeface-option-type {
      display: none;
    }
    .typeface-option-weights {
      margin-top: 10px;
    }
    .typeface-option-weight {
      cursor: pointer;
      background: var(--color-grey-dark);
      padding: 5px 10px;
      border-radius: 5px;
      margin-right: 5px;
      border: 1px solid var(--color-grey-dark);
      color: var(--color-grey-light);
      transition: all 0.3s;
    }
    .typeface-option-weight:hover {
      color: var(--color-white);
    }
    .typeface-option-weight[data-active="true"] {
      /* border-color: var(--color-grey); */
      color: var(--color-white);
    }
  </style>
</Layout>
