<nav class="nav">
  <h1 class="nav-name">Maxim McNair</h1>
  <span class="nav-title">Product Engineer</span>
</nav>

<style>
  .nav {
    position: fixed;
    top: 20px;
    left: 50%;
    width: 160px;
    height: 60px;
    padding: 10px;
    text-align: center;
    background: rgba(13, 13, 13, 0.05);
    backdrop-filter: blur(30px);
    transform: translate3d(-80px, 0px, 0px);
    border-radius: 3px;
    z-index: 2;
  }

  .nav-name {
    font-family: var(--typeface-body);
    font-size: var(--typesize-small);
    line-height: 1rem;
    color: var(--color-white);
    margin: 0px;
    padding: 0px;
  }

  .nav-title {
    display: block;
    font-size: var(--typesize-small);
    line-height: 1rem;
    color: rgba(350, 350, 350, 0.5);
    margin: 5px 0px 0px 0px;
    padding: 0px;
  }
</style>
