---
export interface Props {
  title: string;
  desc: string;
}

const { title, desc } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={desc || ""} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  /* Inter */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Inter Web/Inter-Regular.woff2?v=3.19") format("woff2"),
      url("/fonts/Inter Web/Inter-Regular.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Inter Web/Inter-Italic.woff2?v=3.19") format("woff2"),
      url("/fonts/Inter Web/Inter-Italic.woff?v=3.19") format("woff");
  }
  @font-face {
    font-family: "Laicab";
    src: url("/fonts/Laica/laicaa-regular.woff-webfont.woff2") format("woff2"),
      url("/fonts/Laica/laicaa-regular.woff-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "Laicab Italic";
    src: url("/fonts/Laica/laicaa-italic.woff2") format("woff2"),
      url("/fonts/Laica/laicaa-italic.woff") format("woff");
    font-style: italic;
    font-weight: normal;
  }
  /* Space Mono */
  @font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Space Mono/SpaceMono-Regular.woff2") format("woff2"),
      url("/fonts/Space Mono/SpaceMono-Regular.woff") format("woff");
  }
  @font-face {
    font-family: "Space Mono";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Space Mono/SpaceMono-Bold.woff2") format("woff2"),
      url("/fonts/Space Mono/SpaceMono-Bold.woff") format("woff");
  }

  :root {
    --color-white: #f7f7f7;
    --color-grey: #4d4d4d;
    --color-grey-light: #797979;
    --color-grey-lighter: #bababa;
    --color-grey-dark: #1d1f20;
    --color-black: #0d0d0d;
    --color-gold: #d09f69;

    --color-red: #ff5965;

    --color-text: var(--color-white);
    --color-bg: var(--color-black);

    --typesize-h1: 2.488rem;
    --typesize-h2: 2.074rem;
    --typesize-h3: 1.728rem;
    --typesize-h4: 1.44rem;
    --typesize-h5: 1.2rem;
    --typesize-body: 1rem;
    --typesize-small: 0.8rem;

    --typeweight-thin: 100;
    --typeweight-medium: 400;
    --typeweight-bold: 600;

    --typeface-inter: "Inter";
    --typeface-spacemono: "Space Mono";
    --typeface-laica: "Laicab";

    --typeface-title: var(--typeface-laica);
    --typeface-body: var(--type-inter);

    --type-lineheight-h1: calc(var(--typesize-h1) * 1.5);
    --type-lineheight-h2: calc(var(--typesize-h2) * 1.5);
    --type-lineheight-h3: calc(var(--typesize-h3) * 1.5);
    --type-lineheight-h4: calc(var(--typesize-h4) * 1.5);
    --type-lineheight-h5: calc(var(--typesize-h5) * 1.5);
    --type-lineheight-h6: calc(var(--typesize-h6) * 1.5);
    --type-lineheight-body: calc(var(--typesize-body) * 1.5);
    --type-lineheight-small: calc(var(--typesize-small) * 1.5);
  }

  html,
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  body {
    margin: 0px;
    background: var(--color-bg);
    color: var(--color-text);
  }

  ::selection {
    background-color: var(--color-text);
    color: var(--color-bg);
  }

  a,
  a:visited {
    color: var(--color-gold);
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }

  img,
  video {
    width: 100%;
    max-width: 100%;
  }

  .hide {
    display: none;
  }

  /* typography */
  html {
    font-size: 112.5%; /* 18px */
    line-height: calc(var(--typesize-body) * 1.8);
    font-family: "Inter";
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 3rem 0 1.38rem;
    font-family: var(--typeface-title);
    font-weight: 500;
  }

  h1,
  .h1 {
    margin-top: 0;
    font-size: var(--typesize-h1);
    line-height: calc(var(--typesize-h1) * 1.8);
  }

  h2,
  .h2 {
    font-size: var(--typesize-h2);
    line-height: calc(var(--typesize-h2) * 1.8);
  }

  h3,
  .h3 {
    font-size: var(--typesize-h3);
    line-height: var(--type-lineheight-h3);
  }

  h4,
  .h4 {
    font-size: var(--typesize-h4);
    line-height: calc(var(--typesize-h4) * 1.8);
  }

  h5,
  .h5 {
    font-size: var(--typesize-h5);
    line-height: calc(var(--typesize-h5) * 1.8);
  }

  p {
    line-height: calc(var(--typesize-body) * 1.8);
  }

  small,
  .small {
    font-size: var(--typesize-small);
  }

  strong {
    color: var(--color-gold);
  }

  pre {
    padding: 10px;
  }

  code,
  .type_code {
    font-family: "Source Code Pro", monospace;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: var(--color-black);
    -webkit-appearance: none;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: var(--color-black);
  }

  ::-webkit-scrollbar-thumb:vertical {
    background-color: var(--color-grey);
  }

  select {
    appearance: none;
    background-color: var(--color-black);
    color: var(--color-white);
    border: 2px solid var(--color-white);
    padding: 10px 15px;
    border-radius: 3px;
    font-weight: 600;
    font-size: var(--typesize-body);
  }

  select::after {
    content: " ";
    width: 15px;
    height: 15px;
    background-color: white;
    display: block;
    z-index: 3;
    position: absolute;
    top: 0px;
    right: 0px;
  }

  button {
    appearance: none;
    border: none;
    background-color: var(--color-bg);
    border: 2px solid var(--color-grey-light);
    color: var(--color-white);
    font-size: var(--typesize-small);
    font-weight: var(--typeweight-bold);
    text-transform: uppercase;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s;
    cursor: pointer;
  }
  button:hover {
    border-color: var(--color-white);
    color: var(--color-white);
  }
  button:active {
    transform: translate(0px, 1px);
  }
</style>
